html, body {
	background: url("../img/back.jpg");
    color: black;
	height:100%;
	width: 100%;
	font-family: 'Kameron', sans-serif;
	padding-bottom: 0px;
	margin: 0px;
	padding: 0px;
	background-size: cover;
	background-position: fixed;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

#header{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	position: relative;
	margin-top: 10px;
	padding: 0px;
}

.menu{
	height: 60px;
	background-color: #011A2D;
	width: 100%;
	margin: 0px;
	font-family: 'Dosis', sans-serif;
}

.menu ul{
	list-style: none;
	color: white;
	float: right;
	margin:0px;
	margin-right: 20px;
	height: 100%;
}

.menu li{
	float: left;
	padding-right: 40px;
	padding-top: 20px;
	height: 100%;
}

.menu li a{
	text-decoration: none;
	color: white;
}

.menu li a:hover {
	color: #B33130
}

.menu ul li ul{
	position: absolute;
	background-color: black;
	display: none;
	height: auto;
	z-index: 10;
	top: 79px;
	background-color: #011A2D;
}

.menu li:hover > ul{
	display:block;
}

.menu ul li ul{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.menu li ul li {
	float: none;
	list-style: none;
	height: 30px;
	text-align: center;
	width: 100px;
	padding-right: 0px;
	padding-top: 7px;
	font-size: 14px;
}

.menu li ul li:hover {
	color: #011A2D;
	background-color: white;
}

.menu li ul li:hover a{
	color: #011A2D;
}

.header_content{
	height: 120px;
	/*background: url("../img/header_photo.jpg"); */
	background: black;
	width: 100%;
	margin: 0px;
}

.contenedor{
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.carousel_wrap{
	background-color: #0F1014;
}

#carousel .flex-control-nav{
	display: none;
}

#carousel.flexslider{
	border: none;
	background: #0f1014;
}

.carousel_image {
	float: left;
	height: 120px;
	width: 120px;
	overflow: hidden;
}

.carousel_content {
	color: white;
	padding: 25px;
	padding-top: 5px;
}

.carousel_content .titulo{
	font-size: 16px;
	float: right;
	margin-right: 40px;
	margin-top: 20px;
}

.carousel_content .subtitulo{
	font-size: 12px;
	color: grey;
	float: right;
	margin-right: 60px;
	margin-top: 15px;
}

#carousel.flexslider .slides img{
	width: 120px;
	position: relative;
	top: -10px;
}

.cuerpo, .derecha, .izquierda, .centro{
	background-color: white;
}

.cuerpo{
	height: 650px;
	font-family: 'Dosis', sans-serif;
}

.izquierda, .derecha, .centro{
	width: 33%;
	height: 100%;
	float: left;
	padding: 0px;
	font-size: 20px;
	padding-bottom: 0px;
}

.centro .titulo, .derecha .titulo, .izquierda .titulo{
	margin-left: 30px;
	margin-top: 20px;
	font-size: 20px;
}

.texto{
	margin-left: 30px;
	margin-top: 30px;
	font-size: 16px;
	text-align: justify;
	width: 80%;
}

.cuerpo img{
	border-radius: 10px;
	box-shadow: black 1px 1px 1px;
}

.foto{
	float: left;
}

.encabezado{
	text-align: center;
	text-transform: uppercase;
	margin-right: 20px;
	font-weight: bold;
	color: grey;
	font-size: 20px;
}

.noticia_contenido{
	margin-left: 0px;
	margin-top: 20px;
}

.flexslider{
	border: none;
	background: #0f1014;
}

.home_fixed{
	position: relative;
	top: -10px;
}

#content{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	min-height: auto;
	position: relative;
	background-color: #000;
}

#footer{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	background-color: #013064;
}
