html, body {
	background: url("../img/back.jpg");
    color: black;
	height:100%;
	width: 100%;
	font-family: 'Kameron', sans-serif;
	padding-bottom: 0px;
	margin: 0px;
	padding: 0px;
	background-size: cover;
	background-position: fixed;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
 .position{
	margin: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	text-transform: uppercase;
}

.page_info{
	background-color: white;
	padding: 40px;
	font-family: 'Dosis', sans-serif;
	min-height: 400px;
}

.page_info p{
	text-align: justify;
}

#header{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	position: relative;
	margin-top: 10px;
	padding: 0px;
}

.menu{
	height: 60px;
	background-color: #011A2D;
	width: 100%;
	margin: 0px;
	font-family: 'Dosis', sans-serif;
	position: relative;
	z-index: 1000;
}

.menu ul{
	list-style: none;
	color: white;
	float: right;
	margin: 0px;
	margin-right: 20px;
	height: 100%;
	position: relative;
	top: 1px;
}

.menu li{
	float: left;
	padding: 20px 10px 20px 10px;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 21px 10px 19px 10px;
	width: 100%;
}

.menu li ul li a{
	text-decoration: none;
	color: white;
	width: auto;
	display: block;
}

.menu li a:hover {
	color: #B33130
}

.menu ul li ul{
	position: absolute;
	background-color: black;
	opacity: 0;
	height: 0px;
	z-index: 10;
	top: 59px;
	background-color: #011A2D;
	transition: height 1s ease-in;
}

.menu li:hover > ul{
	display:block;
	transition: opacity 0.3s ease-in;
	/*transition: height 0.3s ease-in;*/
	opacity: 1;
	height: auto;
	/*height: 200px;*/
}

.menu li:hover > ul li{
	display: block;
}

.menu ul li ul{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.menu li ul li {
	float: none;
	list-style: none;
	text-align: center;
	width: 130px;
	padding: 0px;
	font-size: 14px;
	display: none;
}

.menu li ul li:hover {
	color: #011A2D;
	background-color: #E7E8EB;
}

.menu li ul li:hover a{
	color: #011A2D;
}

.header_content{
	height: 120px;
	/*background: url("../img/header_photo.jpg"); */
	background: black;
	width: 100%;
	margin: 0px;
}

.contenedor{
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.carousel_wrap{
	background-color: #0F1014;
}

#carousel .flex-control-nav{
	display: none;
}

#carousel.flexslider{
	border: none;
	background: #0f1014;
}

.carousel_image {
	float: left;
	height: 120px;
	width: 120px;
	overflow: hidden;
}

.carousel_content {
	color: white;
	padding: 25px;
	padding-top: 5px;
}

.carousel_content .titulo{
	font-size: 18px;
	width: 160px;
	float: left;
	text-align: center;
	margin-top: 20px;
	text-transform: uppercase;
}

.carousel_content .titulo a{
	text-decoration: none;
	color: white;
}

.carousel_content .titulo a:hover{
	text-decoration: none;
	color: #CCC;
}

.carousel_content .subtitulo{
	font-size: 12px;
	position: relative;
	color: grey;
	margin-right: auto;
	margin-left: auto;
	width: 160px;
	float: left;
	margin-top: 15px;
	text-transform: uppercase;
	clear: right;
	text-align: center;
}

#carousel.flexslider .slides img{
	width: 120px;
	position: relative;
	top: -10px;
}

.cuerpo, .derecha, .izquierda, .centro{
	background-color: white;
}

.cuerpo{
	min-height: 650px;
	font-family: 'Dosis', sans-serif;
}

.izquierda, .derecha, .centro{
	width: 33%;
	height: 100%;
	float: left;
	padding: 0px;
	font-size: 20px;
	padding-bottom: 0px;
}

.centro .titulo, .derecha .titulo, .izquierda .titulo{
	margin-left: 30px;
	margin-top: 20px;
	font-size: 20px;
}

.texto{
	margin-left: 30px;
	margin-top: 30px;
	font-size: 16px;
	text-align: justify;
	width: 80%;
}

.cuerpo img{
	border-radius: 10px;
	box-shadow: black 1px 1px 1px;
}

.foto{
	float: left;
}

.prospecto {
	width: 46%;
	border-bottom: 0px solid grey;
	background-color: #E7E8EB;
	height: auto;
	padding: 10px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
	box-shadow: 2px 2px 2px #CCC;
}

.prospecto .foto{
	padding: 3px;
	background-color: white;
	border: 2px solid grey;
	margin: 0px;
	border-radius: 5px;
	height: 150px;
}

.prospecto .nombre, .prospecto .info{
	margin-left: 0px;
}

.prospecto .nombre{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	text-transform: uppercase;
}

#ver_prospecto .info{
	float: left;
	padding-top: 10px;
	line-height: 30px;
	text-align: center;
	width: 100%;
}

#ver_prospecto .videos{
	clear: both;
}

#ver_prospecto .videos .title{
	float: left;
	margin: 20px;
	font-size: 20px;
	display: block;
}

#ver_prospecto .videos .thumbs{
	clear: both;
}

#ver_prospecto .videos .thumbs img{
	margin: 10px;
	width: 120px;
}

#ver_prospecto .videos .thumbs img:hover{
	opacity: 0.8;
}

.page_info .titulo{
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 0px;
	margin-bottom: 30px;
}

.cycle-slideshow img{
	border-radius: 10px;
}

.galeria{
	border-radius: 10px;
}

#ver_prospecto .galeria{
	float: right;
	padding: 0px;
	width: 570px;
	background-color: black;
	height: 440px;
}

#ver_prospecto .galeria img{	
	width: 570px;
	height: 440px;
}

#ver_prospecto .perfil_full {
	background-color: #E7E8EB;
	height: 400px;
	width: 280px;
	padding: 20px;
	border-radius: 10px;
	float: left;
}

#ver_prospecto .foto_perfil{
	clear: both;
	text-align: center;
}

#ver_prospecto .foto_perfil img{
	width: 180px;
	border-radius: 10px;
	max-height: 180px;
	background-size: cover;
}

.prospecto p{
	margin: 0px;
	padding: 5px;
	text-align: center;
}

.boton{
	color: white;
	background-color: #013064;
	border-radius: 0px;
	padding: 8px;
	width: 97%;
	margin-top: 5px;
	float: left;
	clear: both;
	text-align: center;
	box-shadow: 1px 1px 1px grey;
	transition: background-color 500ms linear;
}

.boton a{
	text-decoration: none;
	color: white;
	padding: 8px 40% 8px 39%;
}

.boton:hover{
	background-color: #011A2D;
}

.chiclet{
	display:block;
	width: 100%;
	clear: both;
}

.encabezado{
	text-align: center;
	text-transform: uppercase;
	margin-right: 20px;
	font-weight: bold;
	color: grey;
	font-size: 20px;
}

.noticia_contenido{
	margin-left: 0px;
	margin-top: 20px;
}

.flexslider{
	border: none;
	background: #0f1014;
}

.home_fixed{
	padding-bottom: 5px;
}

#content{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	min-height: auto;
	position: relative;
	background-color: #000;
}

#footer{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	font-family: 'Dosis', sans-serif;
	background-color: #013064;
}

.bloque_footer{
	border: 0px solid black;
	float: left;
	width: 29%;
	height: 200px;
	padding: 20px;
	color: white;
}

.bloque_footer p{
	padding-top: 5px;
	font-size: 15px;
}

.bloque_footer h3{
	color: white;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

/*  Noticias  */

.noticia {
	width: 100%;
	min-height: 200px;
	clear: both;
	margin: 20px;
}

.noticia .imagen img{
	width: 300px;
	height: 170px;
	float: left;
	border-radius: 10px;
}

.noticia .contenido {
	margin-left: 30px;
	float: left;
	font-size: 14px;
}

.noticia p{
	float: left;
	overflow: hidden;
	width: 400px;
	height: 100px;
}

.noticia .titulo{
	color: #011A2D;
	margin: 0px;
}

.ver_noticia  .foto {
	width: 100%;
	text-align: center;
	clear: both;
	margin-bottom: 50px;
}

.ver_noticia  img {
	width: 400px;
	border-radius: 10px;
}

.ver_noticia p {
	margin-top: 20px;
}

.ver_noticia .contenido{
	margin-top: 20px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}



